// Layout
html {
  height: 100%;
}

body {
  min-height: 100%;
  background-image: radial-gradient(farthest-corner at 50% 50%, #00BCDF 0%,  #002D51 100%);
}

.page-container-background {

  height: 90%;
  background: black;

}

#page-container
{
  height:100%;
  position:relative;
}

#page-container h1 {
  color:white;
}

#page-container {
  position:relative;
  background: rgba(0, 0, 0, 0.7);

}

#projects-page .row {

  border-bottom: 1px solid #FFF;
}